<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg navbar-dark" data-overlay data-sticky="top">
        <div class="container">
            <a class="navbar-brand fade-page" aria-label="home page" href="/">
                <img src="{{ $.Site.Params.siteLogo | default "images/story-division_100x100.png" }}" height="60" alt="{{ $.Site.Params.siteTitle }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-expanded="false" aria-label="Toggle navigation">
                <img class="icon navbar-toggler-open" src="assets/img/icons/interface/menu.svg"
                    alt="menu interface icon" data-inject-svg />
                <img class="icon navbar-toggler-close" src="assets/img/icons/interface/cross.svg"
                    alt="cross interface icon" data-inject-svg />
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <div class="py-2 py-lg-0">
                    <ul class="navbar-nav">
                        {{ range .Site.Menus.main }}
                        <li class="nav-item">
                            <a href="{{ .URL }}" class="{{ with .Params.class }}{{ . }}{{ end }}" {{ with .Params.anchorExtra }}{{ . | safeHTMLAttr }}{{ end }}>{{ .Title }}</a>
                        </li>
                        {{ end }}
                        <!-- <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid"
                                aria-expanded="false" aria-haspopup="true">Support</a>
                            <div class="dropdown-menu row">
                                <div class="col-auto px-0" data-dropdown-content>
                                    <div class="bg-white rounded border shadow-lg o-hidden">
                                        <div class="p-3">
                                            <h6 class="mb-0">Product Support</h6>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="documentation/index.html" target="_blank"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-3">
                                                <img class="icon icon-md"
                                                    src="assets/img/icons/theme/files/selected-file.svg"
                                                    alt="selected-file icon" data-inject-svg />
                                                <div class="text-body ml-3">
                                                    <span>Documentation</span>
                                                    <div class="text-small text-muted">Get all the information you need
                                                    </div>
                                                </div>
                                            </a>
                                            <a href="https://themes.zendesk.com/hc/en-us/articles/360000006291-How-do-I-get-help-with-the-theme-I-purchased-"
                                                target="_blank"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-3">
                                                <img class="icon icon-md"
                                                    src="assets/img/icons/theme/communication/chat-4.svg"
                                                    alt="chat-4 icon" data-inject-svg />
                                                <div class="text-body ml-3">
                                                    <span>Looking for answers?</span>
                                                    <div class="text-small text-muted">Get support</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
                <!-- <a href="{{ .Site.Params.Hero.projectWatchURL }}" class="btn btn-white ml-lg-3">Watch Now</a> -->
                <a href="#logo-list" class="btn btn-white ml-lg-3">Watch Now</a>

            </div>
        </div>
    </nav>
</div>