<!-- 
    TAKEN FROM home-mobile-app.html
    in LEAP template
 -->
<section id="logo-list" class="bg-primary-alt">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col"> 
                <h1 class="display-5">watch it now</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                    <li class="mx-4 mb-5 justify-content-center nav-link" data-aos="fade-up" data-aos-delay="100">
                        <a href="https://www.amazon.com/dp/B0B8JQX91L"><img class="icon icon-logo bg-primary-3 icon-md opacity-50"
                                src="/custom-brand-icons/icon-svg/prime-video.svg" alt="amazon prime video" data-inject-svg /></a>
                        <a href="https://www.amazon.com/dp/B0B8JQX91L" style="text-decoration: none;color: #212529;">on
                            amazon</a>
                    </li>

                    <li class="mx-4 mb-5 justify-content-center nav-link" data-aos="fade-up" data-aos-delay="100">
                        <a href="https://www.amazon.co.uk/dp/B0B7C1L9ZH"><img class="icon icon-logo bg-primary-3 icon-md opacity-50"
                                src="/custom-brand-icons/icon-svg/prime-video.svg" alt="amazon prime video UK" data-inject-svg /></a>
                        <a href="https://www.amazon.co.uk/dp/B0B7C1L9ZH" style="text-decoration: none;color: #212529;">on amazon.co.uk</a>
                    </li>

                    <li class="mx-4 mb-5 justify-content-center nav-link" data-aos="fade-up" data-aos-delay="100">
                        <a href="https://watch.itsnotaracemovie.xyz/"><img class="icon icon-logo bg-primary-3 icon-md opacity-50"
                                src="/logos/brands/vimeo_vod_assets_vod_mark.svg" alt="vimeo" data-inject-svg /></a>
                        <a href="https://watch.itsnotaracemovie.xyz/" style="text-decoration: none;color: #212529;">
                            vimeo on demand</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>