

    <!-- LOGO LIST - linkable VOD section -->
    <!-- {{- partial "logo-list.html" . -}} -->


<!-- TRAILER video  -->
<section class="bg-primary-3 text-light"> 
    <div class="container pb-0">
        <div class="row">
            <div class="col-lg-9 col-xl-6">
                <h1 class="display-5">the trailer</h1>
            </div>
        </div>
        <div class="row justify-content-center mt-6 mb-lg-n7">
            <div class="col-xl-8 col-lg-9 layer-1">
                <div class="video-poster shadow-lg rounded mb-3">
                    <a data-fancybox href="{{ .Site.Params.Hero.projectTrailer }}" class="btn btn-lg btn-primary btn-round">
                        <img class="icon" src="assets/img/icons/theme/media/play.svg" alt="play icon" data-inject-svg />
                    </a>
                    <img src="{{ .Site.Params.Hero.videoPlayerStill}}" alt="{{ .Site.Params.siteTitle }}" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>