<div class="navbar-container ">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark bg-primary-3 border-bottom-0"
        data-sticky="top">
        <div class="container">
            <div class="col flex-fill px-0 d-flex justify-content-between">
                <a class="navbar-brand mr-0 fade-page" href="index.html">
                    {{if .Site.Params.sitelogo}}
                        <img src="assets/img/{{ .Site.Params.sitelogo }}" alt="{{ .Site.Title }}">
                    {{else}}
                        {{ .Site.Title }}
                    {{end}}
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <img class="icon navbar-toggler-open" src="assets/img/icons/interface/menu.svg"
                        alt="menu interface icon" data-inject-svg />
                    <img class="icon navbar-toggler-close" src="assets/img/icons/interface/cross.svg"
                        alt="cross interface icon" data-inject-svg />
                </button>
            </div>
            <div class="collapse navbar-collapse col px-0 px-lg-2 flex-fill">
                <div class="py-2 py-lg-0">
                    <ul class="navbar-nav">
                    {{ range .Site.Menus.main }}
                    {{ if .HasChildren }}
                    <!-- DROPDOWN menu item -->
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false"
                                aria-haspopup="true">{{ .Name }}</a>
                            <div class="dropdown-menu row">
                                <div class="col-auto" data-dropdown-content>
                                    <div class="dropdown-grid-menu">
                                    {{ range .Children }}
                                    <a class="dropdown-item fade-page" href="{{ .URL }}" title="{{ .Title }}">
                                        {{ .Name }}
                                    </a>
                                    {{ end }}
                                    </div>
                                </div>
                            </div>
                        </li>
                    {{else}}
                    <!-- Single menu item -->
                        <li class="nav-item">
                            <a class="nav-link" href="{{.URL}}" title="{{ .Title }}">
                                {{ .Pre }}
                                {{ .Name }}
                            </a>
                        </li>
                    {{end}}
                    {{end}}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown-grid"
                                aria-expanded="false" aria-haspopup="true">Support</a>
                            <div class="dropdown-menu row">
                                <div class="col-auto px-0" data-dropdown-content>
                                    <div class="bg-white rounded border shadow-lg o-hidden">
                                        <div class="p-3">
                                            <h6 class="mb-0">Product Support</h6>
                                        </div>
                                        <div class="list-group list-group-flush">
                                            <a href="documentation/index.html" target="_blank"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-3">
                                                <img class="icon icon-md"
                                                    src="assets/img/icons/theme/files/selected-file.svg"
                                                    alt="selected-file icon" data-inject-svg />
                                                <div class="text-body ml-3">
                                                    <span>Documentation</span>
                                                    <div class="text-small text-muted">Get all the information you
                                                        need</div>
                                                </div>
                                            </a>
                                            <a href="https://themes.zendesk.com/hc/en-us/articles/360000006291-How-do-I-get-help-with-the-theme-I-purchased-"
                                                target="_blank"
                                                class="list-group-item list-group-item-action d-flex align-items-center p-3">
                                                <img class="icon icon-md"
                                                    src="assets/img/icons/theme/communication/chat-4.svg"
                                                    alt="chat-4 icon" data-inject-svg />
                                                <div class="text-body ml-3">
                                                    <span>Looking for answers?</span>
                                                    <div class="text-small text-muted">Get support</div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse justify-content-end col flex-fill px-0">
                <a href="#" class="btn btn-primary ml-lg-3">Watch Now</a>
            </div>
        </div>
    </nav>
</div>