<!-- 
    TAKEN FROM home-mobile-app.html
    in LEAP template
 -->
<section id="logo-list" class="bg-primary-alt">
    <div class="container">
        <div class="row text-center mb-5">
            <div class="col"> 
                <h1 class="display-5">watch it now</h2>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                {{ range .Site.Params.vodLinks.items }}
                    <li class="mx-4 mb-5 justify-content-center nav-link" data-aos="fade-up" data-aos-delay="100">
                        <a href="{{ .link }}"><img class="icon icon-logo bg-primary-3 icon-md opacity-50"
                                src="{{ .icon }}" alt="{{ .text }}" data-inject-svg /></a>
                        <a href="{{ .link }}" style="text-decoration: none;color: #212529;">{{ .text }}</a>
                    </li>
                {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>